<h2>Add new post</h2>
<p>
	<form action='/new' method='POST'>
		<textarea name="content" class="form-control" rows="6" placeholder="Type post text here" style="width: 800px"></textarea>
		<br/>
	 	<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</p>